<li>@Html.ActionLink("Professores", "Index", "Professores")</li>
<li>@Html.ActionLink("Cursos", "Index", "Cursos")</li>
<li>@Html.ActionLink("Turmas", "Index", "Turmas")</li>
<li>@Html.ActionLink("Alunos", "Index", "Alunos")</li>
